@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* index.html*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 100% da viewport height */
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans";
    background-color: blanchedalmond;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centraliza verticalmente, se necessário */
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin: 0 10px;
}

.container-pesquisa {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    /* Transforma o container em um flex container */
    justify-content: center;
    /* Centraliza horizontalmente */
}

.Pesquisar {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.Pesquisar input[type="text"] {
    flex-grow: 1;
    padding: 10px 30px;
    border: none;
    outline: none;
}

.Pesquisar button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    /* Reduz o padding para diminuir o tamanho */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Pesquisar button:hover {
    background-color: #3e8e41;
}

main {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game-card {
    flex: 1;
    width: 25%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.game-card img {
    width: 90%;
    height: 170px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.game-card img:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho da imagem em 10% */
    cursor: pointer;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    /* Ajuste o tamanho conforme a sua imagem */
    height: 40px;
    cursor: pointer;
    display: none;
}

footer {
    color: #3a3a3a;
    text-align: center;
    padding: 20px;
}

/* barra de navegação das páginas dos jogos */

.nav-paginaJogos a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 1px;
    transition: background-color 0.3s ease;
}

.nav-paginaJogos img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    /* Espaço entre o ícone e o texto */
}

.nav-paginaJogos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centraliza verticalmente os itens da navegação */
    padding: 20px;
}

.container-pesquisa-paginaJogos {
    display: flex;
    align-items: center;
}

/* D&D html */

.imagem01 {
    width: 40%;
}

ul {
    list-style-type: circle;
    /* Define o tipo de marcador, pode ser circle, square, disc, etc. */
    list-style-position: inside;
    /* Posiciona o marcador dentro da área do conteúdo */
    padding-left: 20px;
    /* Adiciona um espaçamento à esquerda para separar o marcador do texto */
}

